header {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 11px 0;
    margin-bottom: 70px;

    @media (max-width: 768px) {
        padding: 11px 70px;
    }

    .flex {
        display: flex;
        justify-content: space-between;

        .item {
            color: rgb(41, 41, 41);
            text-decoration: none;
            font-size: 17px;
            transition: .1s;

            &:hover {
                color: rgb(135, 135, 135);
            }
        }
    }
}
